@import "tailwindcss";

@layer base {
  body {
    /* @apply antialiased text-gray-900 bg-white; */
  }
}

body {
  font-family: Inter, system-ui, sans-serif;
}

@layer utilities {
  .animate-slide-in-right {
    animation: slideInRight 0.3s ease-out forwards;
  }

  @keyframes slideInRight {
    from {
      transform: translateX(100%);
      opacity: 0;
    }

    to {
      transform: translateX(0);
      opacity: 1;
    }
  }

  .animate-blob {
    animation: blob 7s infinite;
  }

  @keyframes blob {
    0% {
      transform: translate(0px, 0px) scale(1);
    }

    33% {
      transform: translate(30px, -50px) scale(1.1);
    }

    66% {
      transform: translate(-20px, 20px) scale(0.9);
    }

    100% {
      transform: translate(0px, 0px) scale(1);
    }
  }

  .animation-delay-2000 {
    animation-delay: 2s;
  }

  .animation-delay-4000 {
    animation-delay: 4s;
  }
}